/* monse*/
.banner{
	background-color: #f0f0f0;
}
.size{
	font-size: 70%;

}
.boletin{
	font-size: 65%;
	background-color: #ff0000;
	color: #fff;
	border-radius: 3px;
	padding: 0.8%;
	margin-left: 15%;
}
.social{
	margin-left: 20%;
}
.icon{
	width: 70%;
}
.logo-republica{
	margin-top: 4%;
	margin-bottom: 4%;
}
.domingo{
	width: 23%;
	background-color: #bb1515;
	margin-top: -3%;
	margin-left: 40%;
	color: #fff;
	padding-left: -3%;
	padding-right: -3%;
}
.lideresa{
	border: #c0c5ce 2px solid; 
	border-bottom-color: #bb1515;
	text-align: center;
	margin: 3% 1% 1% 1%;
	padding-top: 0.5%;
	padding-bottom: 0.5%;
}
.editorial{
	padding-top: 11%;
}
.lideresa p{
	font-size: 80%;
	font-weight: bolder;
}
.lideresa2{
	margin-top: 3%;
}
.enlaces{
	font-size: 80%;
	color: #fff;
}
.margen{
	padding-left: 4%;
}
.temas-dia{
	margin-top: 2.5%;
	margin-left: 1.3%;
}
.temas{
	color: #fff;
	background-color: black;
	padding: 1%;
}
.grey{
	background-color: #e5e6eb;
	color: #000000;
	margin: -2px;
	padding: 1% 1.9%;
}
.banner-header{
	margin-top: 1.7%;
}
/* monse*/
/* Parte de Jessica- Columnistas */

font-family: 'Open Sans Condensed', sans-serif;
.h1{
	font-size: 30px;
}
.title2{
	display: inline-block;
	font-family: 'Open Sans Condensed', sans-serif;
	color:grey;
	font-size: 20px; 
	padding-bottom:20px;
	padding-top: 20px;
}
.hijobox{
	display: inline-block;
}
.title4{
	margin:0;
	padding: 0;
}
.title3{
	text-align: center;
	height: 40px;
}
.box1{
	border:1px solid #c8ccd2;
	padding: 10px;
	padding-top: 20px;
	margin-bottom: 20px;
}
.minibox{
	background-color: #C3D1E8;
	padding: 10px 5px;
}
.colum1{
	border: 2px solid white;
}
.cualidades{
	color: #579690;
}
.btn-danger{
 width: 200px;
 margin:0 auto;
}
.barrared{
	background-color: #F51111;
	margin-bottom: 5px;
	height: auto;
}
.copia{
	margin-bottom: 10px;
}
.barrared a{
	color: white;
	margin-top: 20px;
	list-style: none;
}
.barrared li{
	display: inline-block;
	list-style: none;
	margin:20px;
}
.barrared ul{
	text-align: center;
	padding-top: 5px;
}
.tinto{
	background-color: #a50021;
	border:1px solid #a50021;
	border-radius: 10px;
	width: 70px;
}

/* SECCION PRIMERA*/

.blogs{
	font-size: 20px;
	margin-top: 20px;
}
.flecha{
	display: inline-block;
}
.box{
	display: inline-block;
}
.texto-blog{
	margin: 0;
	padding: 0;
}
.libros{
	color: #579690;
}
.caja{
	border: 1px solid #C3D1E8;
	padding: 10px;
	padding-top: 30px;
	margin-bottom: 20px;
}
.lunes{
	text-align: center;
}
.media{
	background-color: #C3D1E8;
	padding: 10px;
}
.foto{
	border: 2px solid white;
}
/* FOOTER*/
.contacto{
	margin: 0;
}
li{
	margin: 0;
	list-style: none;
}
a{
	color: black;
}
.logo{
	padding-top: 100px;
}
.linea{
	border-left: 2px solid #C7D0D4;
}
.final{
	font-size: 12px;
	border-top: 2px solid #C7D0D4;
	margin-top: 20px;
	padding-top: 10px;
}
footer{
	background-color: #BDC6C9;
}
/* FOOTER negro*/
.cajita{
	background-color: black;
	text-align: center;
}
.negro{
	color: white;
}
.todos{
	font-size: 10px;
}

